.pull-right 
{
    float: right;
}

.profile_card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.user_profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user_profile {
    padding: 20px 0
}

.img-radius {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.profile_card .p-3 p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    .p {
        font-size: 14px
    }
}

.text-muted {
    color: #919aa3 !important
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.add-category .modal-content {
    border-radius: 1.375rem;
}

.add-category .modal-header {
    padding: 1rem 1.875rem !important;
}

.add-category .modal-body {
    padding: 1.875rem !important;
}

.add-category .modal-body {
    position: relative;
    flex: 1 1 auto;
}

.add-category .form-control {
    padding: 0.3125rem 1.25rem;
    color: #6e6e6e;
    min-height: 3.5rem;
    border-radius: 1rem;
}

.add-category .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #969ba0;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-category input, button, select, optgroup, textarea {
    margin: 0;
    font-size: 14px !important;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.add-category .modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #F2F2F2;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.add-category .modal-footer1 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start !important;
    padding: 0.75rem;
    border-top: 1px solid #F2F2F2;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.add-category .btn {
    padding: 0.938rem 1.5rem;
    border-radius: 1.125rem;
    font-weight: 400;
    font-size: 1rem;
}

.add-category .modal-footer > * {
    margin: 0.25rem;
}

.add-category .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #969ba0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-category .btn-danger {
    color: #fff !important;
    background-color: #FF6746;
    border-color: #FF6746;
}

.add-category .btn-primary {
    color: #fff !important;
    background-color: #003e99;
    border-color: #003e99;
}

.add-category .btn-info {
    color: #fff !important;
    background-color: #0095cc;
    border-color: #0095cc;
}

.switch-container {
    max-width: 1000px !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}

.switch-holder {
    display: flex !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    margin-bottom: 30px !important;

    justify-content: space-between !important;
    align-items: center !important;
}

.switch-label {
    width: 150px !important;
}

.switch-label i {
    margin-right: 5px !important;
}

.switch-toggle {
    height: 40px !important;
}

.switch-toggle input[type="checkbox"] {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -2 !important;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative !important;
    display: inline-block !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 20px !important;
    margin: 0 !important;
    cursor: pointer !important;
    box-shadow: inset -4px -4px 8px rgba(255,255,255,.6),
                inset 5px 5px 5px rgba(0,0,0, .25) !important;
    
}

.dark-skin .switch-toggle input[type="checkbox"] + label {
    position: relative !important;
    display: inline-block !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 20px !important;
    margin: 0 !important;
    cursor: pointer !important;
    box-shadow: inset -4px -4px 8px rgb(58 55 55 / 60%), 
                inset 5px 5px 5px rgb(0 0 0 / 25%) !important;
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute !important;
    content: 'NO' !important;
    font-size: 13px !important;
    text-align: center !important;
    line-height: 25px !important;
    top: 8px !important;
    left: 8px !important;
    width: 45px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: #d1dad3 !important;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px rgba(0,0,0, .25) !important;
    transition: .3s ease-in-out !important;
}

.dark-skin .switch-toggle input[type="checkbox"] + label::before {
    position: absolute !important;
    content: 'NO' !important;
    font-size: 13px !important;
    text-align: center !important;
    line-height: 25px !important;
    top: 8px !important;
    left: 8px !important;
    width: 45px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: #d1dad3 !important;
    color : #000;
    box-shadow: none !important;
    transition: .3s ease-in-out !important;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50% !important;
    content: 'YES' !important;
    color: #fff !important;
    background-color: #00b33c !important;
    box-shadow: -3px -3px 5px rgba(255,255,255,.5),
                3px 3px 5px #00b33c !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.dark-skin .switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50% !important;
    content: 'YES' !important;
    color: #fff !important;
    background-color: #00b33c !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    box-shadow: none !important;
}

.btn-toggle.active{
    background-color: rgb(0, 120, 0) !important;
    border-color: rgb(0, 120, 0) !important;
    color: #ffffff;
}

.question_number span {
    color: #b4b4b4;
    font-weight: 800;
    letter-spacing: 1px;
}

.form_items {
    padding-bottom: 1rem;
}

.content_box {
    padding-bottom: 5rem;
}

.form_items label {
    width: 90%;
    padding: 1rem 0rem;
    padding-left: 4rem;
    margin-top: 0.625rem;
    font-weight: 600;
    border: 3px solid #dbdbdb;
    cursor: pointer;
}

.form_items label:before {
    content: "";
    top: 50%;
    left: 13px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2.3125rem;
    height: 2.3125rem;
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
    border-radius: 100%;
}

.form_items label span {
    top: 50%;
    left: 26px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.form_items label input {
    display: none;
}

.form_items label.active {
    background-color: #f9bc31 !important;
    border: 3px solid transparent;
}

.form_items label.active:before {
    background-color: #ffffff;
}

.question_title h1 {
    font-weight: 800;
}

@media screen and (max-width: 1199.98px) {
    .form_items label {
        width: 100%;
    }
}

.fc .fc-button-group > .fc-button {
    color: #b5b5c3;
    background: 0 0;
    border: 0.0625rem solid #ebedf3;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.fc .fc-button-group > .fc-button:focus, .fc .fc-button-group > .fc-button:active, .fc .fc-button-group > .fc-button:hover, .fc .fc-button-group > .fc-button.fc-button-active {
    background: var(--primary) !important;
    color: #fff;
    border-color: var(--primary) !important; 
}
  
.fc-button.fc-button-primary.fc-today-button {
    background: var(--primary) !important;
    color: #fff;
    border: 0;
    opacity: 1; 
}
  
.fc-unthemed .fc-toolbar .fc-button.fc-button-active, .fc-unthemed .fc-toolbar .fc-button:active, .fc-unthemed .fc-toolbar .fc-button:focus {
    background: var(--primary) !important;
    color: #fff;
    border: 0.0625rem solid var(--primary) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none; 
}

.theme-primary .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 0.35rem 1rem !important;
}

.select2-container--default .select2-selection--multiple {
    padding: 0.75rem 1rem !important;
}

thead, th {
    text-align: center;
}

.lift
{
    -webkit-transition:box-shadow .25s ease,-webkit-transform .25s ease;
    transition:box-shadow .25s ease,-webkit-transform .25s ease;
    transition:box-shadow .25s ease,transform .25s ease;
    transition:box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.lift:focus,.lift:hover
{
    box-shadow:0 1rem 2.5rem rgba(140,152,164,.1),0 .5rem 1rem -.75rem rgba(140,152,164,.1)!important;
    -webkit-transform:translate3d(0,-3px,0);
    transform:translate3d(0,-3px,0);
}

.lift-lg:focus,.lift-lg:hover
{
    box-shadow:0 2rem 5rem rgba(140,152,164,.1),0 .5rem 1rem -.75rem rgba(140,152,164,.05)!important;
    -webkit-transform:translate3d(0,-5px,0);
    transform:translate3d(0,-5px,0);
}

.card-zoom
{
    overflow:hidden!important;
    border-radius:inherit;
}

.card-zoom>[class*=card-img]
{
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-transform-origin:center center;
    transform-origin:center center;
}

.card:hover>.card-zoom>[class*=card-img]
{
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}

.sk-thumbnail
{
    position:relative;
    overflow:hidden;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-bottom:calc(.62 * 100%);
}

.sk-thumbnail img
{
    height:auto;
    position:absolute;
    top:calc(50% + 1px);
    left:calc(50% + 1px);
    -webkit-transform:scale(1.01) translate(-50%,-50%);
    transform:scale(1.01) translate(-50%,-50%);
    display:block;
    width:100%;
    max-height:none;
    max-width:none;
    -webkit-transition:-webkit-filter .3s;
    transition:-webkit-filter .3s;
    transition:filter .3s;
    transition:filter .3s,-webkit-filter .3s;
}

.sk-fade-bottom,.sk-fade-left,.sk-fade-right,.sk-fade-top
{
    opacity:0;
    visibility:hidden;
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
}

.sk-fade-top{
    -webkit-transform:translateY(-25px) translateZ(0);
    transform:translateY(-25px) translateZ(0);
}

.sk-fade-bottom{
    -webkit-transform:translateY(25px) translateZ(0);
    transform:translateY(25px) translateZ(0);
}

.sk-fade-left{
    -webkit-transform:translateX(-25px) translateZ(0);
    transform:translateX(-25px) translateZ(0);
}

.sk-fade-right{
    -webkit-transform:translateX(25px) translateZ(0);
    transform:translateX(25px) translateZ(0);
}

.sk-fade:focus .sk-fade-bottom,.sk-fade:focus .sk-fade-left,.sk-fade:focus .sk-fade-right,.sk-fade:focus .sk-fade-top,.sk-fade:hover .sk-fade-bottom,.sk-fade:hover .sk-fade-left,.sk-fade:hover .sk-fade-right,.sk-fade:hover .sk-fade-top{
    opacity:1;
    visibility:visible;
}

.sk-fade:focus .sk-fade-bottom,.sk-fade:focus .sk-fade-top,.sk-fade:hover .sk-fade-bottom,.sk-fade:hover .sk-fade-top{
    -webkit-transform:translateY(0) translateZ(0);
    transform:translateY(0) translateZ(0);
}

.badge
{
    display:inline-block;
    padding:.25rem .75rem;
    font-size:.75em;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:.25rem;
}

.badge:empty{
    display:none;
}

.btn .badge,.cart-collaterals .checkout-button .badge,.shop_table.cart input.button .badge,form.woocommerce-checkout .place-order .button .badge{
    position:relative;top:-1px;
}

.badge-lg{
    padding:.7em 1.15em;
}

.badge-pill{
    padding-right:.75rem;
    padding-left:.75rem;
    border-radius:10rem;
}

.badge-rounded-circle{
    height:calc(1em + .5rem);
    padding-left:.25rem;
    padding-right:.25rem;
    border-radius:10rem;
}

.badge-rounded-circle>*{
    display:block;
    width:1em;
}

.badge-rounded-circle.badge-lg{
    height:calc(1em + 1.4em);
    padding-left:.7em;
    padding-right:.7em;
}

.badge-purple
{
    color:color-yiq(#b8b2fd);
    background-color:#b8b2fd;
}

a.badge-purple:focus,a.badge-purple:hover{
    color:color-yiq(#b8b2fd);
    background-color:#8a80fc;
}

a.badge-purple.focus,a.badge-purple:focus
{
    outline:0;
    box-shadow:0 0 0 .2rem rgba(184,178,253,.5);
}

.card-footer
{
    padding:.75rem 2rem;
    background-color:rgba(22,28,45,.03);
    border-top:0 solid #e7e7ec;
    background-color: transparent;
}

.pb-md-7
{
    padding-bottom:2.5rem!important;
}

.badge-float
{
    position:absolute;
}

.bottom-0
{
    bottom: 0 !important;
}

.left-0
{
    left: 0 !important;
}

.text-gray-800{
    --bs-text-opacity:1;
    color:#77838f!important
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.dark-skin .rounded-pill
{
    color: #000 !important;
}